.top-container form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    padding: 20px 0;
  }
  .employee-details{
    
    background-color:#AEDEFC;
  }
  .epl-id-input{
    width: 170px;
    height: 30px;
    outline: none;
    padding: 5px 0 7px 3px;
    font-size: 13px;
  }
  .bottom-container{
    width: 750px;
    background-color: #e1f0f3;
    margin: auto;
    padding: 10px;
    margin-bottom: 70px;
  }
  .employee-details{
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .label-flex{
    padding-top: 5px;
    gap: 8%;
  }
  .input-flex{
    gap: 12px;
  }
  .emp-input{
    width: 300px;
    padding: 1.5px;
    border: 1px solid rgb(30, 65, 98);
    border-radius: 10px;
  }
  .MuiTabs-indicator, .css-1werely-MuiTabs-indicator{
    height: 5px !important;
    border-radius: 5px;
    background-color: #83b8de !important;
  }
  .address-emp-input, .qualification-emp-input, .w-25{
    padding: 1.5px;
    width: 550px;
    border-radius: 10px;
    border: 1px solid rgb(30, 65, 98);
  }
  button{
    border:1px solid rgb(30, 65, 98);
  }
  /* .form-control{
    gap: 2%;
  } */